<h2 class="text-center">Informations about Bolivia</h2>
<br>

<ul class="nav nav-tabs mx-4" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Identity</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Economy</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Natural ressources</a>
  </li>
</ul>
<div class="tab-content mx-4 p-4 text-justify" id="myTabContent" style="border: solid lightgrey 1px" >
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
- <b>Capitale :</b> Sucre est la capitale constitutionnelle. La Paz est la capitale administrative et le siège du gouvernement.<br>
- <b>Superficie :</b> 1 098 580 km² (soit 2 fois la France).<br>
- <b>Population :</b> environ 11 213 000 habitants (estimation 2017).<br>
- <b>Densité :</b> 10 hab./km².<br>
- <b>Espérance de vie :</b> 66,3 ans pour les hommes, 71,3 ans pour les femmes.<br>
- <b>Âge moyen :</b> 24 ans.<br>
- <b>Langues officielles :</b> espagnol (castillan) et, depuis 2008, toutes les langues des nations et des peuples indigènes (une trentaine, dont le quechua, l’aymara et le guarani).<br>
- <b>Monnaie :</b> boliviano.<br>
- <b>Régime :</b> république parlementaire. Divisé en 9 départements, le nom officiel du pays est État plurinational de Bolivie.<br>
- <b>Chef de l’État :</b> Jeanine Áñez, présidente par intérim suite à la démission d'Evo Morales en novembre 2019.<br>
- <b>Taux d’alphabétisation :</b> environ 99 % (chiffre officiel).<br>
- <b>Point le plus élevé :</b> le Nevado Sajama, à 6 542 m d'altitude.<br>

- <b>Sites inscrits au Patrimoine mondial de l'Unesco :</b> la ville de Potosí, les missions jésuites de Chiquitos, la ville historique de Sucre, le fort (précolombien) de Samaipata, la cité de Tiwanaku et le Qhapaq Ñan, le réseau de voies de communication précolombien qui s’étendait sur plus de 30 000 km à travers les divers pays andins.<br></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  	
  	<p>Depuis les années 1970, le centre de gravité de l'économie bolivienne a basculé des Andes vers les plaines de l'Est : c’est aujourd’hui Santa Cruz qui s’affirme comme la nouvelle capitale économique du pays, enrichie par l'exploitation d’hydrocarbures. Engagée dans le libéralisme à tous crins dans les années 1990-2000 par le président Gonzalo Sánchez de Lozada, la Bolivie a fait peu après volte-face face à l’étendue de la fracture sociale. La révolte éclata en 2003, portant 3 ans plus tard un indigène socialiste au pouvoir, Evo Morales, et son « gouvernement des mouvements sociaux ».</p>

<h5>Du libéralisme au socialisme</h5>
<p>Le nouveau président Morales renationalise certains secteurs (mines, électricité, hydrocarbures, télécommunications, aéroports, etc), travaille à la redistribution des terres, lance de grands travaux d’infrastructure (asphaltage de routes, hôpitaux et dispensaires) et met en place des programmes sociaux (aides financières pour les femmes enceintes, pour l’achat de fournitures scolaires, allocation pour les personnes âgées, etc.). Ses objectifs : asseoir l'économie du pays sur ses ressources géologiques.</p>

<p>Le FMI se découvre à son tour socialiste, soulignant la bonne gestion économique du pays, et félicitant même la politique sociale du gouvernement d'Evo Morales. Le PIB triple entre 2005 et 2018 (3 097 US$ par habitant), mais l’envol du prix des matières premières est pour beaucoup dans ces heureux résultats. Sur le terrain, le pari d'Evo est loin d'être gagné. La situation économique et sociale évolue lentement. Il reste encore à la Bolivie bien du chemin à parcourir pour retrouver sa place parmi les 20 pays les plus riches du monde, qu’elle occupait au moment de l’indépendance en 1825. Elle pointe aujourd’hui en 118e position de l’indice du développement humain...</p>

<p>Certes, le revenu par habitant a triplé (environ 7 090 US$/an, en 2018, contre 38 000 US$ en France), et les salaires ont augmenté (le SMIC bolivien atteignait 3 066 Bs – environ 384 € – en 2018). Le gouvernement Morales a réussi à résorber en partie la misère : aujourd’hui, 39 % de la population bolivienne vit toujours sous le seuil de pauvreté (moins de 2 US$ par jour) contre 60 % en 2005. Reste que les disparités régionales sont énormes. Si le taux de pauvreté est tombé à 13 % en ville, il atteint 55 % dans les zones rurales... Autre point noir, selon les estimations, on considère que 700 000 à 850 000 enfants et adolescents travaillent en Bolivie – soit le quart de leur classe d’âge.</p>

<p>Quant au clientélisme et à la corruption, si leurs bénéficiaires ne sont plus les mêmes, ils n’ont pas disparu, et le développement d’une nouvelle bourgeoisie aymara ne s’est pas accompagné d’un enrichissement généralisé des populations. Surtout, le pays s’est enfermé dans un modèle « extractiviste » : toute l’économie repose sur l’exploitation des ressources minières et en hydrocarbures, et reste donc soumise à la volatilité des cours des matières premières. Les promesses de diversification et d’industrialisation restent pour l’instant un vœu pieux.</p>


  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  	<h6>Les mines</h6>
<p>L'histoire économique de la Bolivie est depuis toujours étroitement liée à ses ressources géologiques, en commençant par les mines de Potosí, d'où l'on continue à extraire du zinc, de l'étain, et un peu d'argent.
Les cycles de chute et de hausse des cours des matières premières influent notablement sur l’activité et l’emploi dans ce secteur. Après le boom des années 2000, on serait plutôt, dans les années 2015-2019, au creux de la vague, même si les gisements de lithium du salar d’Uyuni (estimés à un tiers des réserves mondiales) font figure de nouvel eldorado...
La Bolivie manque de compétences techniques pour extraire et traiter ce métal mou si nécessaire aux piles et batteries, mais le gouvernement cherche à garder la main sur son industrialisation, en développant une filière nationale.</p>


<p>Le gouvernement Morales s’est parallèlement engagé dans un large mouvement de nationalisation ou, plus précisément, de prise de participation majoritaire dans les grandes minerías du pays, histoire de garantir à l’État 55 % des profits réalisés sur son territoire. La Constitution a par ailleurs été modifiée, réformant le Code minier et obligeant chacun à obtenir sa concession de l’État.
Naturellement, les tensions s’accumulent, notamment avec les puissantes coopératives de mineurs.</p>

<h6>Les hydrocarbures</h6>
<p>Ce sont pour l’heure le gaz et le pétrole qui tirent l’économie bolivienne : ils représentent 50 % des produits exportés, devant l’or, le zinc et le soja. Le pays détient la plus grande réserve de gaz naturel du continent après le Venezuela, et l’exporte chez ses voisins chiliens, argentins et surtout brésiliens par l’un des plus longs pipelines du monde.</p>

<h6>L'agriculture</h6>
<p>Si elle occupe encore près du tiers des Boliviens, l'agriculture ne représente que 13 % du PIB. Elle reste souvent vivrière, malgré une culture intensive du soja, et le développement d'une petite filière d'exportation de quinoa. Le paysage agricole bolivien néanmoins radicalement changé ces dernières années. Le gouvernement Morales s'est attelé à redistribuer les terres improductives ou illégalement acquises à des milliers de paysans.</p></div>
</div>
<br>
<h6 class="mx-4 my-2">Source: <a href="https://www.routard.com/guide/bolivie/1549/carte_d_identite.htm">Routard.com</a></h6>


