<div class="cart-item" *ngFor="let item of items"> 
<div class="card mb-3" style="width: 60vw; position: relative; left: 20vw">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="{{ item.img}}" class="card-img" alt="item">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.destination }}</h5>
        <p class="card-text">Price: {{ item.price }} $</p>
      </div>
    </div>
  </div>
</div>
</div>


  <table class="table table-dark" style="position: relative; left: 20vw; width: 60vw">
  
   
      <ng-template [ngIf]="fullPrice>=200" [ngIfElse]="none">
                <tr>
                <th scope="row">Price</th>
                <td>{{ fullPrice }} $</td>
                </tr>
                <tr>
                <th scope="row">Discount:</th>
                <td>{{ Discount }} $</td>
                </tr>
                 <tr>
                 <th scope="row">Price after discount:</th>
                 <td>{{ TotalPrice }} $</td>
                </tr>
        </ng-template>
        <ng-template #none>
                <tr>
                <th scope="row">Price</th>
                <td>{{ fullPrice }} $</td>
                </tr>
      
 
