<div id="displaycards">
<div class="cart-item" *ngFor="let item of items; index as i"> 
<div class="card mb-3" style="width: 60vw; position: relative; left: 20vw">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="{{ item.img}}" class="card-img" alt="item">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.destination }}</h5>
        <p class="card-text">Price: {{ item.price }} $</p>
        <div class="select-quantity">
              Persons:
              <button class="decrease" (click)="downQuantity(item,i)">-</button>
              <input class="number" type="text" [value]="item.quantity"(input)="item.quantity = $event.target.value" style="width: 2vw">
        <button class="increase" (click)="upQuantity(item)">+</button>
             </div>
      </div>
    </div>
  </div>
</div>
</div>


  <table class="table table-dark" style="position: relative; left: 20vw; width: 60vw">
     
      <ng-template [ngIf]="fullPrice>=200" [ngIfElse]="none">
                <tr>
                <th scope="row">Price</th>
                <td>{{ fullPrice }} $</td>
                </tr>
                <tr>
                <th scope="row">Discount:</th>
                <td>{{ Discount }} $</td>
                </tr>
                 <tr>
                 <th scope="row">Price after discount:</th>
                 <td>{{ TotalPrice }} $</td>
                </tr>
              </ng-template>
        <ng-template #none>
                <tr>
                <th scope="row">Price</th>
                <td>{{ fullPrice }} $</td>
                </tr>
         </ng-template>
</table>

<div class="mx-5 my-3" style="position: relative; left: 45vw; width: 10vw">

     <button type="submit" (click)="youorder()" class="btn btn-secondary" style="width: 15vw">Order</button>
</div>
</div>
 <div class="mx-5 my-3" id="yourorder" style="position: relative; left: 10vw"></div>
  


       


        
 
